@theme {
    --color-cafe-cream: #fbffc0;
    --color-cafe-dark: #2c241e;
    --color-red: #FF6B6B;
    --color-yellow: #FFE66D;
    --color-teal: #4ECDC5;
    --color-light-blue: #E9F5FE;
    --color-dark-blue: #16213E;
    --color-light-green: #A8E6CF;
    --color-light-purple: #F0E8FF;

    --font-bungee: 'Bungee Shade', cursive;
    --font-raleway: Raleway, sans-serif;
}
