@utility container {
  @apply mx-auto px-[1.5rem] max-w-[764px];
}

@utility body-text-2 {
  @apply text-[1.125rem] font-[400];
}

@utility border-red {
  border: 1px solid red;
}

@utility border-green {
  border: 1px solid green;
}

@utility border-blue {
  border: 1px solid blue;
}

@utility border-widget {
  @apply border-[3px] border-black rounded-xl;
}

@utility border-btn {
  @apply border-[2px] border-black rounded-md;
}

@utility shadow-red {
  @apply shadow-[6px_6px_0px_0px_var(--color-red)];
}

@utility shadow-teal {
  @apply shadow-[6px_6px_0px_0px_var(--color-teal)];
}

@utility shadow-black {
  @apply shadow-[3px_3px_0px_0px_rgba(0,0,0,1)];
}

@utility label-text {
  @apply uppercase text-[0.85rem] font-[700] tracking-wider;
}

@utility zoom-in-out {
  @apply hover:cursor-pointer transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-300;
}
