@utility container {
  @apply mx-auto px-6;
}

@utility border-red {
  border: 1px solid red;
}

@utility border-green {
  border: 1px solid green;
}

@utility border-blue {
  border: 1px solid blue;
}

@utility flex-col-03 {
  @apply flex flex-col gap-y-[0.3rem];
}

@utility flex-col-05 {
  @apply flex flex-col gap-y-2;
}

@utility flex-col-1 {
  @apply flex flex-col gap-y-4;
}

@utility flex-col-2 {
  @apply flex flex-col gap-y-8;
}

@utility flex-col-4 {
  @apply flex flex-col gap-y-16;
}

@utility flex-col-8 {
  @apply flex flex-col gap-y-32;
}

@utility zoom-in-out {
  @apply hover:cursor-pointer transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-300;
}

@utility shadow-red {
  @apply shadow-[6px_6px_0px_0px_var(--color-red)];
}
@utility shadow-black {
  @apply shadow-[3px_3px_0px_0px_rgba(0,0,0,1)];
}
@utility border-widget {
  @apply border-[3px] border-black rounded-xl;
}

@utility border-btn {
  @apply border-[2px] border-black rounded-md;
}
